<app-navbar></app-navbar>
<article class="p-contact-us">
  <section class="hero">
    <div class="bg"></div>
    <div class="grid container">
      <div class="row">
        <div class="col col-lg-12">
          <h1 class="strong page-header text-center">Contact us</h1>
        </div>
        <div class="col col-small-6">
        </div>
      </div>
      <div class="row">
        <div class="col col-small-5">
          <div class="card">
            <img src="https://d1eipm3vz40hy0.cloudfront.net/images/p-contact-us/avatar1.svg" alt="bot image">
            <h3 class="center">Talk to a member of our Sales team</h3>
            <p class="center">We’ll help you find the right products and pricing for your business.</p>
            <a href="#">Contact Sales</a>
          </div>
        </div>
        <div class="col col-small-5">
          <div class="card">
            <img src="https://d1eipm3vz40hy0.cloudfront.net/images/p-contact-us/avatar2.svg" alt="image bot">
            <h3 class="center">Product and account support</h3>
            <p class="center">Our help center is fresh and always open for business. If you can’t find the answer you’re
              looking for, we’re here to lend a hand.</p>
            <a href="#" target="_blank">Go to the help center</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="offices container">
    <div class="grid">
      <div class="row">
        <div class="col col-small-5">
          <h2>Our offices around the world</h2>
        </div>
      </div>
      <div class="row">
        <div class="col col-small-6">
          <div class="grid">
            <div class="row">
              <div class="col col-6 col-small-4">
                <div class="office">
                  <h6>Global HQ - <a class="map-link" target="_blank" href="#">MAP</a></h6>
                  <p class="address">
                    Specter Market St<br>
                    San Francisco, CA 94103<br>
                  </p>

                </div>
              </div>
              <div class="col col-6 col-small-4">
                <div class="office">
                  <h6>Australia - <a class="map-link" target="_blank" href="#">MAP</a></h6>
                  <p class="address">
                    Collins St<br>
                    Melbourne VIC 3000<br>
                    Australia
                  </p>

                </div>
              </div>

              <div class="col col-6 col-small-4">
                <div class="office">
                  <h6>India - <a class="map-link" target="_blank" href="#">MAP</a></h6>
                  <p class="address">
                    Vittal Mallya Rd,Ashok Nagar, Bengaluru, India
                  </p>
                </div>
              </div>
              <div class="col col-6 col-small-4">
                <div class="office">
                  <h6>Ireland - <a class="map-link" target="_blank" href="#">MAP</a></h6>
                  <p class="address">
                    Charlemont <br>
                    Dublin<br>
                    D02 F985, Ireland
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col col-small-1"></div>
        <div class="col col-small-5">
          <img class="no-src lazyloaded" src="https://d1eipm3vz40hy0.cloudfront.net/images/p-contact-us/image.jpg"
            data-srcset="https://d1eipm3vz40hy0.cloudfront.net/images/p-contact-us/image.jpg, https://d1eipm3vz40hy0.cloudfront.net/images/p-contact-us/image-2x.jpg 2x"
            alt="communications img"
            srcset="https://d1eipm3vz40hy0.cloudfront.net/images/p-contact-us/image.jpg, https://d1eipm3vz40hy0.cloudfront.net/images/p-contact-us/image-2x.jpg 2x">
          <br>
          <br>

        </div>
      </div>
    </div>
  </section>
</article>