<app-navbar></app-navbar>
<br>
<br>
<br>
<div class="container">
    <div class="intro">
        <h2 class="style">
            Learn from the best:
            <br>
            Our Sellers & Customers
        </h2>
    </div>
    <br>
    <br>
    <ul class="link-grid SL_swap">
        <li><img src='assets/images/apple.png' alt="seller1"></li>
   
        <li> <img src='assets/images/adidas.png' alt="seller3"></li>
        <li> <img src='assets/images/mk.png' alt="seller4"></li>
    </ul>
    <br>
    <br>
    <br>
    <div class="testimonials flex-content Sl_swap">
        <div class="card"><br>
            <div class="testimonial">
                <img src='assets/images/harvey.jpeg' alt="Harvey">

                <h4> Harvey</h4>
                <p class="title"> Director, Product Solutions,
                    Suits
                </p>
                <blockquote>
                    ""It's not bragging if it's true. Best place to buy stuff""
                </blockquote>
            </div>
        </div><br>
        <div class="card"><br>
            <div class="testimonial">
                <img src='assets/images/mike.jpeg' alt="Mike">

                <h4> Mike</h4>
                <p class="title"> Director, Product Solutions,
                    Sidwell Investments
                    <blockquote>
                        ""Sometimes I buy from other places, <br>just to see what the other half buys""
                    </blockquote>
            </div>
        </div><br>
        <div class="card"><br>
            <div class="testimonial">
                <img src='assets/images/jake.jpeg' alt="Jake">

                <h4> Jake</h4>
                <p class="title"> President, Product Solutions,
                    Brooklyn 99
                    <blockquote>
                        ""Best deals Guaranteed.""
                    </blockquote>
            </div>
        </div>

    </div>
    <div class="cta-section center SL_swap">
        <a href="/#" class="cta-tertiary"> <b>See all customer stories</b></a>
        <br>
        <br>

    </div>
</div>