

    <br />


<app-navbar></app-navbar>

<br>
<br>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval='500'>
        <div class="carousel-inner">
            <!-- <div class="carousel-item active container-fluid">
                <img class="d-block w-100" src="assets/images/b.png"  height= "600" width="1300" alt="First slide">
            </div> -->
            
            <div class="carousel-item active container-fluid">
                <img class="d-block w-100" src="assets/images/ar.png"  height= "600" width="1300"  alt="2nd slide">
            </div>
            <div class="carousel-item  container-fluid">
                <img class="d-block w-100" src="assets/images/w.png"  height= "600" width="1300" alt="3rd slide">
            </div>
            <div class="carousel-item  container-fluid">
                    <img class="d-block w-100" src="assets/images/imac.png" height= "600" width="1300"  alt="fourth slide">
                </div>

                <div class="carousel-item  container-fluid">
                        <img class="d-block w-100" src="assets/images/pro.png" height= "600" width="1300"  alt="fifth slide">
                    </div>

                    <div class="carousel-item  container-fluid">
                            <img class="d-block w-100" src="assets/images/e.png" height= "600" width="1300"  alt="fifth slide">
                        </div>
           
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
          
<div class="col-md-10">
        <div class="container-fluid">
                
                    <br />
                
                <br />
    <!-- upperCase, lowercase, titlecase, date, currncy: "INR", "USD", "EUR" -->
    <h3  style="color:orange;"> {{title}}</h3>

  
    <br/>

    <body>

    
        <h5 class="style"> At Walmart, we’re committed to using our size and scale for good. Not just for our customers, or even our associates,
        suppliers, and their families, but also for the people in our communities and around the world that we will never
        meet.<br/><br/>
        
        </h5>
        <!-- <a class="text-center" [routerLink]="['/login']">

          
            <h5 style="color:orange;"><b>SIGN IN</b></h5>
        </a>  -->
        </body>
        &nbsp;&nbsp;&nbsp; 

        


     